.laa__footer {
    display: flex;
    gap: 50px;
    padding: 80px 150px 100px 150px;
    justify-content: space-around;
    background-color: #F3F3F3;
}

ul {
    list-style: none;
}

.laa__follow-us ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: row;
}